body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#calculator {
    width: 400px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 4px 4px;
    padding: 20px;
}

#display {
    text-align: right;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
}